.education{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}
.edu-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
color: rgba(164, 164, 27, 0.872);
}
.box-con{
 width: 80%;
 background-color: white;
 display: flex;
justify-content: space-between;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
}
.uni-name{
    font-size: 25px;
    
}
.commerce{
    width: 50%;
    
}
@media screen and (min-width:0px) and (max-width:750px) {
    .box-con{
        flex-direction: column;
        
    }
    .commerce{
        width: 100%;
    }
    .edu-text{
        width: 90%;
    }
}